.clients-area {
    margin-top: 100px;
    margin-bottom: 80px;
}

.client-card {
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    padding: 25px;
}

.client-card p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #707070;
}

.top-area img {
    width: 70px;
    border-radius: 50%;
}

.name-title h4 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.name-title h6 {
    font-weight: 500;
    margin-bottom: 0;
}